.Penalty-\\\% {
    background:sienna;
  }
.seal-lvl {
  background: slategray;
}
.toons{
  background: navy;
}
.Tag {
  background-color: olivedrab;
}
.pickedstat {
  background-color: orangered;
}
  .Growth {
    background-color: violet;
  }
  .stats {
    background-color: yellowgreen;
  }
  .stattag {
    background-color: orchid;
  }
  .input {background: slateblue;}
  .float{
    background: steelblue;
  }
  .chosen-BL
  .the-acc-lvl,.chosen-BL-LVl {
    background: turquoise;
  }
  
  .offpos{
    background: mediumvioletred;
  }
  .Effi,.Efficient{
    background-color: pink;
  }
.avrage-dmg,.avrage-dmg-output{
  background-color:springgreen;
}
 .critt-dmg-output,.dmg-range{
   background-color:lightblue ;
 }
 
 .item-1,.item-2,.item-3{
  
  background-color: hotpink;
}
.Chakra{
  background-color: salmon;
}
.dmg-range-on-critt{
  background-color:maroon;
}
.avrage-dmg-on-critt{
  background-color: red;
}
.lowest-critt-output,.lowest-possible-dmg{
  background-color: royalblue;

}
.highest-critt-output,.highest-possible-dmg{
  background-color: gold;
}

